nav{
    background-color: rgba(0, 0, 0, 0.2) ; 
       width: max-content;
    display: flex;
    gap: 1em;
    position: fixed;
    bottom: 1em;
    left:50%;
    transform: translateX(-50%);
    padding: 0.5em 1em;
    border-radius: 5em;
    z-index: 2;
    backdrop-filter: blur(15px) ;
}
nav a{
    background: transparent;
    padding: 18px 24px
    ;
    border-radius: 50%;
    color: var(--color-light);
    font-size: 30px;

}
nav a:hover{
    background: rgba(0, 0, 0, 0.2);
}
.nav-active{
    background: rgba(0, 0, 0, 0.2);
    color: var(--color-white);
}
/* ========= Media Quries(Small)========= */
@media screen and (max-width : 600px) {

nav{
    display: none;
}

}